<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Exploring AWS</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
  <%= render :partial => "shared/navbar" %>

  <p class="notice hide"><%= notice %></p>
  <p class="alert hide"><%= alert %></p>

  <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="app_modal_section"></div>

  <div class="container theme-showcase" role="main">
    <%= yield %>
  </div>

  <%= render :partial => "shared/footer" %>

  <%= yield :page_javascript %>

  <script type="text/javascript">
    $(document).ready(function(){
      window['rangy'].initialized = false;

      $('.wysihtml5').each(function(i, elem) {
        $(elem).wysihtml5();
      });

      <% if params[:unauthorize_access] %>
        $("#login_nav_btn").click();
      <% end %>

      <% flash.each do |key, msg| %>
        <%  unless msg.blank? %>
          <% if key.to_s == "error" || key.to_s == "alert" %>
            toastr.error('<%= msg %>');
          <% elsif key.to_s == "notice" %>
            toastr.success('<%= msg %>');
          <% else %>
            toastr.info('<%= key %>');
          <% end %>
        <% end %>
      <% end %>

      
    })
  </script>

</body>
</html>
